:css
  body { font-family: sans-serif; padding: 30px; }
  h1, h2 { margin: 5px 0 20px 0; }
  #instructions { width: 300px; font-size: 10pt; }
  #instructions ol { padding: 0; margin: 0 0 0 20px; }
  #instructions a { display: inline; border: 0; }
  .avatar { float: left; padding: 2px; margin: 0 10px 10px 0; text-align: center; font-family: Impact, sans-serif; font-size: 17pt; font-weight: bold; }
  .avatar, .avatar a, .avatar img { width: 100px; height: 100px; }
  .avatar a { display: block; border: 5px solid transparent; }
  .avatar a:hover { border-color: #f0f; }
  .avatar a.selected { border-color: #ff0; }
  .bigavatar, .bigavatar a, .bigavatar img { width: 220px; height: 220px; }
  .bigavatar span { position: relative; top: -160px; right: 50px; background-color: #fff; color: #333; padding: 6px 10px; border: 1px solid #666; }
  #signage { clear: both; padding-top: 30px; }
  #signage input { font-size: 15pt; padding: 10px; }

  #container { width: 840px; }
  #demo { width: 550px; float: left; border-right: 1px solid #f9f9f9; }
  #customize { position: absolute; margin-top: 150px; margin-left: 80px; padding: 10px 20px; background-color: #f9f9f9; border: 1px solid #dfdfdf; }
  #footer { clear: both; }
  #embed_code { margin-bottom: 20px; }


#container
  / #intro
  /   %h2
  /     Want to protest?
  /     But don't want to leave your house?
  /   %h1 Protest on the Internet instead
  /
  / #instructions
  /   %ol
  /     %li Choose your avatar
  /     %li Visit <a href="http://fffff.at">fffff.at</a> and join the crowd
  /     %li Change the world, man

  #demo
    / Test out our embed on ourselves!

    %h1 Occupy Internet

    %h2 Embed Code
    %textarea#embed_code{:rows => 2, :cols => 100, :readonly => 'readonly', :style => 'width: 400px; background-color: #efefef;', :click => "this.select()"}
      == <script src="http://#{request.host_with_port}/embed.js"></script>

    %h2 Demo
    = erb :'widget'


  #customize{:style => 'display: none;'}
    #avatars
      %h2 Your Avatar
      - avatars = (1..11)
      - avatars.each do |i|
        - avatar = "/avatars/#{i}.gif"
        .avatar
          %a{:href => "/settings?avatar=#{i}", :class => (i.to_s == request_avatar.to_s ? 'selected' : '')}
            %img{:src => avatar}
    #signage
      %h2 Your Sign Text
      %form{:method => 'GET', :action => '/settings'}
        %label{:for => 'tagline'}
        %input{:type => 'text', :value => request_tagline, :name => 'tagline', :class => 'text', :id => 'tagline', :onclick => "this.select();"}
        %input{:type => 'submit', :value => "Save", :class => 'submit', :id => 'save'}

  #footer
    / nothing to see here

