:css
  body { font-family: sans-serif; padding: 30px; }
  h1, h2 { margin: 0px; }
  h1 { margin-bottom: 10px; }
  .avatar { float: left; padding: 2px; margin: 0 10px 10px 0; }
  .avatar, .avatar a, .avatar img { width: 200px; height: 200px; }
  .avatar a { display: block; border: 5px solid transparent; }
  .avatar a:hover { border-color: #f0f; }
  .avatar a.selected { border-color: #ff0; }
  #instructions { width: 400px; }
  #instructions a { display: inline; }

%h2
  Want to protest?
  But don't want to leave your house?
%h1 Protest on the Internet instead

.avatar#instructions
  %ol
    %li Choose your avatar
    %li Install the <a href="javascript:alert('link here')">browser addon</a>
    %li Visit websites and join the protest crowd
    %li Change the world, man


- avatars = (1..11)

- avatars.each do |i|
  - avatar = "/avatars/#{i}.gif"
  .avatar
    %a{:href => "/settings?avatar=#{i}", :class => (i.to_s == request_avatar.to_s ? 'selected' : '')}
      %img{:src => avatar}