- puts request.path
#customize{:style => request.path == '/customize' ? '' : 'display: none;'}
  #avatars
    %a{:href => '#', :onclick => 'toggle_customize(); return false;', :style => 'float: right; color: #aaa;'} [CLOSE]
    / %h2 Choose Your Avatar

    - default_avatars.each do |i|
      -# Note: using index and not raw value for backwards compat
      - avatar = "/avatars/#{i}"
      .avatar
        %a{:href => "/settings?avatar=#{i}", :class => (i.to_s == request_avatar.to_s ? 'selected' : '')}
          %img{:src => avatar}
  #signage
    %form{:method => 'GET', :action => '/settings'}

      %label{:for => 'custom_avatar'}
        %strong <big>Custom URL</big>
        %div Examples and more info: <a href="http://fffff.at">fffff.at/enlist-today</a>
      %input{:type => 'text', :value => request_custom_avatar, :name => 'custom_avatar', :class => 'text', :id => 'custom_avatar', :onclick => "this.select();"}
      %input{:type => 'submit', :value => "Save", :class => 'submit', :id => 'save'}

      - if false
        %br{:style => 'clear: both;'}
        %label{:for => 'tagline'}
          Tagline (speech bubble)
        %input{:type => 'text', :value => request_custom_avatar, :name => 'custom_avatar', :class => 'text', :id => 'custom_avatar', :onclick => "this.select();"}
        %input{:type => 'submit', :value => "Save", :class => 'submit', :id => 'save'}