#customize{:style => 'display: none;'}
  #avatars
    %a{:href => '#', :onclick => 'toggle_customize(); return false;', :style => 'float: right; color: #aaa;'} [CLOSE]
    %h2 Choose Your Avatar

    - default_avatars.each do |i|
      -# Note: using index and not raw value for backwards compat
      - avatar = "/avatars/#{i}"
      .avatar
        %a{:href => "/settings?avatar=#{i}", :class => (i.to_s == request_avatar.to_s ? 'selected' : '')}
          %img{:src => avatar}
  #signage
    %h2 Custom URL:
    %form{:method => 'GET', :action => '/settings'}
      %label{:for => 'tagline'}
      %input{:type => 'text', :value => request_tagline, :name => 'tagline', :class => 'text', :id => 'tagline', :onclick => "this.select();"}
      %input{:type => 'submit', :value => "Save", :class => 'submit', :id => 'save'}