%link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/stylesheets/frontpage.css'}

#container
  #demo
    %h1 Occupy Internet

    / %h2 Default Avatars...
    / = User.default_avatars.inspect

    %h2 Embed Code
    %textarea#embed_code{:rows => 2, :cols => 100, :readonly => 'readonly', :style => 'width: 400px; background-color: #efefef;', :click => "this.select()"}
      == <script src="http://#{request.host_with_port}/embed.js" defer="defer"></script>

    %h2 Demo
    %script{:src => "http://#{request.host_with_port}/embed.js", :defer => 'defer'}


  #footer
    / nothing to see here

