<section class="social-sharing">
 <div class="soc-button" id="facebook-button"><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Foccupyinter.net&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=225633787500723" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe></div>
 <div class="soc-button" id="twitter-button"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://occupyinter.net" data-text="Occupy The Internet! #occupy #ows" data-count="horizontal" data-via="FFFFFAT">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></div>
 <div style="clear: both;"></div>
</section>

