:css
  #site-stats { font-size: 15pt; }

%h1 Top Occupy Internet Protest Sites

-# TODO keep these all in a sorted set
%ol#site-stats
  - @sites.each do |site,hits|
    %li
      %bold== <a rel="nofollow" href="http://#{site}">#{site}</a>
      &ndash;
      %span= hits

