
<link rel="stylesheet" type="text/css" href="widget.css" />

<%= haml :customize %>

<script type="text/javascript">
function load_protest(data){
  // document.getElementById('occupy-uuid').innerHTML = data.uuid.slice(0,8);
  // document.getElementById('occupy-avatar').src = data.avatar;
  // document.getElementById('occupy-tagline').innerHTML = data.tagline;
  document.getElementById('occupy-site').innerHTML = data.site;
  document.getElementById('occupy-protestor_count').innerHTML = data.protestor_count+" protestors";
  var avatar_output = '';

  // Change 'start' to 'join' if people here already
  if(data.protestors.length > 0){
    document.getElementById('occupy-joinprotest-button').innerHTML = 'Join The Protest!';
  }

  // Add all our avatars
  for(var i = 0; i < data.protestors.length; i++){
    var protestor = data.protestors[i];
    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: 0px; left: '+(i*150)+'px">';
    if(data.uuid != undefined && protestor.uuid == data.uuid){
      document.getElementById('occupy-joinprotest').style.display = 'none';
      document.getElementById('occupy-avatars').style.left = '0px';

      avatar_output += '<div id="occupy-you">';
      avatar_output += 'This is you!';
      avatar_output += '<a id="customize_button" href="#" onclick="toggle_customize(); return false;">Customize Your Avatar</a>';
      avatar_output += '</div>';
    }
    avatar_output += '<img src="/avatars/'+protestor.avatar+'" />';
    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }
    avatar_output += '</div>';
  }

  // Add and start animating
  document.getElementById('occupy-protestor_avatars').innerHTML = avatar_output;
  move_avatars();

  // Show dat protest!!!
  show_protest();
};

function show_protest(){
  var widget = document.getElementById('occupy-widget');
  widget.style.display = 'block';

  var avatars = document.getElementById('occupy-avatars');
  avatars.style.bottom = "-200px";
  // avatars.style.left = "-200px";
  slide_protest_in(avatars);
}

function slide_protest_in(el){
  setTimeout(function(){
    console.log(el.style.bottom);
    if(parseInt(el.style.bottom) >= -20){
      console.log("done animating protest");
    }
    else {
      // el.style.left = (parseInt(el.style.left) + 12)+'px'
      el.style.bottom = (parseInt(el.style.bottom) + 12)+'px';
      slide_protest_in(el);
    }
  }, 10);
}


function move_avatars(counter){
  setTimeout(function(){
    if(counter == undefined){
      counter = 0;
    }
    var els = document.getElementsByClassName('bigavatar');
    for(var j = 0; j < els.length; j++){
      var el = els[j];
      var distance = (counter % 10 < 5) == 0 ? -2 : 2;
      if(counter % 15 == 0){
        var left = (counter + j) % 2 == 0 ? 4 : -4;
      }
      el.style.bottom = (parseInt(el.style.bottom) + distance) + 'px';
      el.style.left = (parseInt(el.style.left) + left) + 'px';
    }

    // keep moving
    counter += 1;
    move_avatars(counter);
  }, 100);
}

function toggle_customize(){
  var el = document.getElementById('customize');
  if(el.style.display == 'none'){
    el.style.display = 'block';
  }
  else {
    el.style.display = 'none';
  }
}

function join_protest(){
  document.getElementById('occupy-joinprotest-form').submit();
}
</script>

<div id="occupy-widget" style="display: none;">
  <div id="occupy-joinprotest">
    <form id="occupy-joinprotest-form" method="POST" action="/join_protest">
      <a href="http://fffff.at/enlist-today" id="occupy-joinprotest-header">Occupy Internet</span>
      <a href="#" onclick="join_protest();" class="bigavatar" id="occupy-joinprotest-button">Start The Protest!</a>
    </form>
  </div>

  <div><strong><span id="occupy-site"></span></strong></div>
  <div><span id="occupy-protestor_count">Loading...</span></div>
  <br style="clear: both;" /><br />
  <div id="occupy-avatars"><span id="occupy-protestor_avatars"></span></div>
</div>

<script type="text/javascript" src="/site.json?callback=load_protest"></script>