<style type="text/css">
#occupy-uuid { display: none; }
</style>

<script type="text/javascript">
function load_protest(data){
  // document.getElementById('occupy-uuid').innerHTML = data.uuid.slice(0,8);
  document.getElementById('occupy-avatar').src = data.avatar;
  document.getElementById('occupy-tagline').innerHTML = data.tagline;

  document.getElementById('occupy-site').innerHTML = data.site;
  document.getElementById('occupy-protestor_count').innerHTML = data.protestor_count;
  var avatar_output = '';
  for(i = 0; i < data.protestors.length; i++){
    var protestor = data.protestors[i];
    avatar_output += '<div class="avatar bigavatar"><img src="'+protestor.avatar+'" /><span class="tagline">'+protestor.tagline+'</span></div>';
  }
  document.getElementById('occupy-protestor_avatars').innerHTML = avatar_output;
};

function toggle_customize(){
  var el = document.getElementById('customize');
  if(el.style.display == 'none'){
    el.style.display = 'block';
  }
  else {
    el.style.display = 'none';
  }
}
</script>

<br />
<!-- <div><strong>your uuid:</strong> <span id="occupy-uuid">...</span></div> -->
<div><strong>your avatar:</strong><br /> <img id="occupy-avatar" src="http://www.loremipsum.net/pixelgif/pics/pixel.gif" /></div>
<div><strong>your tagline:</strong> <span id="occupy-tagline">...</span></div>
<a id="customize_button" href="javascript:toggle_customize(); return false">Customize</a>

<br /><br />
<div><strong>site:</strong> <span id="occupy-site">...</span></div>
<div><strong>protestor count:</strong> <span id="occupy-protestor_count">...</span></div>
<div><strong>protestor avatars:</strong><br /> <span id="occupy-protestor_avatars">...</span></div>

<script type="text/javascript" src="/join_protest.json?callback=load_protest"></script>
