<style type="text/css">
#occupy-uuid { display: none; }
#occupy-you { position: absolute; z-index: 5; color: #aaa; background: #f0f0f0; opacity: 0.9; font-family: sans-serif; padding-top: 5px; margin-top: 120px; }
#occupy-you a { color: #555; font-weight: bold; font-size: 10pt; display: block; padding: 5px 8px; border: 0; height: 20px; }
#occupy-site { float: left; display: inline; }
#occupy-protestor_avatars { margin-top: 50px; }
#occupy-protestor_count { float: left; color: #ccc; margin-left: 10px; }
</style>

<script type="text/javascript">
function load_protest(data){
  // document.getElementById('occupy-uuid').innerHTML = data.uuid.slice(0,8);
  // document.getElementById('occupy-avatar').src = data.avatar;
  // document.getElementById('occupy-tagline').innerHTML = data.tagline;

  document.getElementById('occupy-site').innerHTML = data.site;
  document.getElementById('occupy-protestor_count').innerHTML = data.protestor_count+" protestors";
  var avatar_output = '';
  for(i = 0; i < data.protestors.length; i++){
    var protestor = data.protestors[i];
    avatar_output += '<div class="avatar bigavatar">';
    if(protestor.uuid == data.uuid){
      avatar_output += '<div id="occupy-you">';
      avatar_output += 'This is you!';
      avatar_output += '<a id="customize_button" href="#" onclick="toggle_customize(); return false;">Customize Your Avatar</a>';
      avatar_output += '</div>';
    }
    avatar_output += '<img src="'+protestor.avatar+'" /><span class="tagline">'+protestor.tagline+'</span>';
    avatar_output += '</div>';
  }
  document.getElementById('occupy-protestor_avatars').innerHTML = avatar_output;
};

function toggle_customize(){
  var el = document.getElementById('customize');
  if(el.style.display == 'none'){
    el.style.display = 'block';
  }
  else {
    el.style.display = 'none';
  }
}
</script>

<div><strong><span id="occupy-site"></span></strong></div>
<div><span id="occupy-protestor_count">Loading...</span></div>
<br style="clear: both;" /><br />
<div><span id="occupy-protestor_avatars"></span></div>
<script type="text/javascript" src="/join_protest.json?callback=load_protest"></script>
