
<link rel="stylesheet" type="text/css" href="widget.css" />


<style type="text/css">
#occupy-uuid { display: none; }
#occupy-you { position: absolute; z-index: 5; color: #ccc; background: #f0f; opacity: 0.7; font-family: sans-serif; padding-top: 5px; margin-top: -80px; width: 180px; text-align: center; }
#occupy-you a { color: #fff; font-weight: bold; font-size: 10pt; display: block; padding: 5px 8px; border: 0; height: 20px; }
#occupy-site { float: left; display: inline; }
#occupy-avatars { position: absolute; bottom: -20px; }
#occupy-protestor_avatars { margin-top: 50px; }
#occupy-protestor_count { float: left; color: #ccc; margin-left: 10px; }
</style>

<%= haml :customize %>

<script type="text/javascript">
function load_protest(data){
  // document.getElementById('occupy-uuid').innerHTML = data.uuid.slice(0,8);
  // document.getElementById('occupy-avatar').src = data.avatar;
  // document.getElementById('occupy-tagline').innerHTML = data.tagline;

  document.getElementById('occupy-site').innerHTML = data.site;
  document.getElementById('occupy-protestor_count').innerHTML = data.protestor_count+" protestors";
  var avatar_output = '';
  for(var i = 0; i < data.protestors.length; i++){
    var protestor = data.protestors[i];
    avatar_output += '<div id="avatar'+i+'" class="bigavatar" style="position: absolute; bottom: 0px; left: '+(i*170)+'px">';
    if(protestor.uuid == data.uuid){
      avatar_output += '<div id="occupy-you">';
      avatar_output += 'This is you!';
      avatar_output += '<a id="customize_button" href="#" onclick="toggle_customize(); return false;">Customize Your Avatar</a>';
      avatar_output += '</div>';
    }
    avatar_output += '<img src="'+protestor.avatar+'" />';
    // if(protestor.tagline != '' && protestor.tagline != undefined){
    //  avatar_output += '<span class="tagline">'+protestor.tagline+'</span>';
    // }
    avatar_output += '</div>';
  }

  move_avatars();

  document.getElementById('occupy-protestor_avatars').innerHTML = avatar_output;
};

function move_avatars(counter){
  setTimeout(function(){
    if(counter == undefined){
      counter = 0;
    }
    var els = document.getElementsByClassName('bigavatar');
    for(var j = 0; j < els.length; j++){
      var el = els[j];
      var distance = (counter % 10 < 5) == 0 ? -2 : 2;
      if(counter % 15 == 0){
        var left = (counter + j) % 2 == 0 ? 4 : -4;
      }
      el.style.bottom = (parseInt(el.style.bottom) + distance) + 'px';
      el.style.left = (parseInt(el.style.left) + left) + 'px';
    }

    // keep moving
    counter += 1;
    move_avatars(counter);
  }, 100);
}

function toggle_customize(){
  var el = document.getElementById('customize');
  if(el.style.display == 'none'){
    el.style.display = 'block';
  }
  else {
    el.style.display = 'none';
  }
}
</script>

<div><strong><span id="occupy-site"></span></strong></div>
<div><span id="occupy-protestor_count">Loading...</span></div>
<br style="clear: both;" /><br />
<div id="occupy-avatars"><span id="occupy-protestor_avatars"></span></div>
<script type="text/javascript" src="/join_protest.json?callback=load_protest"></script>
