body, html { font-family: sans-serif; margin: 0; padding: 0; }
h1, h2 { margin: 5px 0 20px 0; }
#instructions { width: 300px; font-size: 10pt; }
#instructions ol { padding: 0; margin: 0 0 0 20px; }
#instructions a { display: inline; border: 0; }

body { height: 100%; }
#container { background-color: #fff; padding: 20px 40px; }
#demo { width: 840px; float: left; border-right: 1px solid #f9f9f9; }
#footer { clear: both; }
#embed_code { margin-bottom: 20px; padding: 8px; width: 466px; font-size: 9pt; font-family: monospace; border: 1px solid #900; }

#embed_size label { margin-left: 9px; }
#embed_size, #embed_orderly { display: inline; }
#embed_size { margin-right: 20px; }

#embed_demo { border: 0; height: 78%; width: 100%; }