body, html { font-family: sans-serif; margin: 0; padding: 0; }
h1, h2 { margin: 5px 0 20px 0; }
#instructions { width: 300px; font-size: 10pt; }
#instructions ol { padding: 0; margin: 0 0 0 20px; }
#instructions a { display: inline; border: 0; }

body { height: 100%; }
a { color: #00a; }

#container { background-color: #fff; padding: 20px 40px; }
#demo { width: 630px; float: left; border-right: 1px solid #f9f9f9; padding-bottom: 500px; }
#footer { clear: both; }

h1 a { padding: 6px 14px 8px; background-color: #000; color: #fff; font-weight: bold; text-decoration: none; }
h1 { margin-bottom: 30px; }
h2 { margin-top: 30px; }

#header h1 { margin: 0 0 0 -18px; padding: 2px 0 10px 61px; min-height: 46px; background: url(../images/net-protester.gif) 0 0 no-repeat; }
#header { padding-bottom: 20px; }
#header #navigation, #header .social-sharing { margin-left: 43px; }

#navigation { margin-top: -4px; margin-bottom: 15px; }
#navigation ul { list-style: none; margin: 0; padding: 0; }
#navigation li { display: inline; margin-right: 9px; }
#navigation li a { color: #000; font-size: 10pt; font-weight: bold; text-decoration: none; border-bottom: 1px solid #c9c9c9; }
#navigation li a:hover { border-color: #000; }

#demo #embed_code { margin-bottom: 20px; padding: 19px 20px 0px; width: 600px; font-size: 11pt; font-family: monospace; color: #666; border: 3px solid #eee; background-color: #ddd; font-weight: bold; }

#embed_size label { margin-left: 9px; }
#embed_size, #embed_orderly { display: inline; }
#embed_size { margin-right: 20px; }

.soc-button { float: left; }

#install-addons { text-align: left; padding: 16px 0 16px 0; }
a.addon-button { display: inline-block; padding: 9px 16px 12px 16px; margin: 0 3px; background: #ddd; color: #666; text-shadow: 0 0 1px rgba(0,0,0,.24); font-weight: bold; font-size: 24px; border: 3px solid #eee; text-decoration: none; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 5px; }
a.addon-button:hover { background-color: #e500e5; border-color: #e500e5; color: #fff; }

#site-stats { font-size: 15pt; margin-left: -35px; }
#site-stats th { text-align: left; background-color: #aaa; color: #fff; padding: 8px 8px; font-size: 9pt; }
#site-stats th.count { background-color: transparent; }
#site-stats td { padding: 4px 10px; }
#site-stats td.count { text-align: center; color: #bbb; }
