body, html { font-family: sans-serif; margin: 0; padding: 0; }
h1, h2 { margin: 5px 0 20px 0; }
#instructions { width: 300px; font-size: 10pt; }
#instructions ol { padding: 0; margin: 0 0 0 20px; }
#instructions a { display: inline; border: 0; }

body { height: 100%; }
a { color: #00a; }

#container { background-color: #fff; padding: 20px 40px; }
#demo { width: 630px; float: left; border-right: 1px solid #f9f9f9; padding-bottom: 500px; }
#footer { clear: both; }

#demo h1 a { padding: 6px 14px 8px; background-color: #000; color: #fff; font-weight: bold; text-decoration: none; }
#demo h1 { margin-bottom: 30px; }
#demo h2 { margin-top: 30px; }

#header {margin: 0 0 0 -18px; padding: 2px 0 0 61px; min-height: 46px; background: url(../images/net-protester.gif) 0 0 no-repeat;}

#demo #embed_code { margin-bottom: 20px; padding: 8px; width: 600px; font-size: 11pt; font-family: monospace; border: 1px solid #900; background-color: #efe0e0; }

#embed_size label { margin-left: 9px; }
#embed_size, #embed_orderly { display: inline; }
#embed_size { margin-right: 20px; }

/*#embed_demo { border: 0; height: 78%; width: 100%; }*/

.soc-button { float: left; }